PRODUCCION=cayambi,1433|CANALOTROS
PRUEBAS=Tupiname,1433|CANALOTROS
LINEASYNCPROD=V:\IntercambioDatos\Aplicativo_Aplicativo\ArquitecturaTI_Requerimientos\Linea Base\DB\SQL\Cayambi-CANALOTROS
LINEASYNCPRUE=V:\IntercambioDatosT\Aplicativo_Aplicativo\ArquitecturaTI_Requerimientos\Linea Base\DB\SQL\Tupiname-CANALOTROS
